# Flask Settings
SECRET_KEY=generate-a-long-random-string-here
FLASK_APP=run.py
FLASK_ENV=development

# Database (Uncomment to use PostgreSQL locally instead of SQLite)
# DATABASE_URL=postgresql://postgres:password123@localhost:5432/voltride_db

# Stripe Keys (Get these from your Stripe Dashboard -> Developers -> API keys)
STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
