Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Login==0.6.2
Flask-WTF==1.1.1
email-validator==2.0.0
Werkzeug==2.3.7
stripe==6.5.0
python-dotenv==1.0.0
gunicorn==21.2.0
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.52.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
razorpay==1.4.1
psycopg2-binary==2.9.9
Flask-Mail==0.9.1
google-auth-oauthlib